body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.checkout-title {
    text-align: center;
    color: #e0e0e0;
    font-size: 2.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1em;
    color: #bdbdbd;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #666;
    outline: none;
}

.confirm-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #e0e0e0;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

.confirm-btn:hover {
    background-color: #66bb6a;
    transform: scale(1.05);
}

.back-home-btn-full {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #e0e0e0;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.back-home-btn-full:hover {
    background-color: #555;
    transform: scale(1.05);
}

.login-btn-full:hover {
    background-color: #555;
    transform: scale(1.05);
}
