<!DOCTYPE html>
<html lang="pl" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<!-- Czarny pasek nawigacyjny -->
<div class="header-bar">
    <!-- Ikona koszyka jako pierwszy element -->
    <a href="/cart" class="cart-icon">
        <img src="/images/cart-icon.jpg" alt="Koszyk">
        <div th:if="${itemCount > 0}" class="cart-badge" th:text="${itemCount}">1</div>
    </a>

    <!-- Linki dla niezalogowanych użytkowników -->
    <a href="/login" sec:authorize="isAnonymous()">Zaloguj się</a>
    <a href="/register" sec:authorize="isAnonymous()">Zarejestruj się</a>
</div>

<!-- Główna zawartość strony -->
<div class="container">
    <!-- Sekcja komunikatu -->
    <div th:if="${message}" class="alert-message alert-message-slide">
        <p th:text="${message}">Produkt został dodany do koszyka</p>
    </div>

    <!-- Produkty -->
    <section class="product-section">
        <div class="product-list">
            <th:block th:each="product : ${products}">
                <div class="product-item" th:classappend="${product.stock == 0} ? 'out-of-stock' : ''">
                    <img th:src="@{${product.imageUrl}}" alt="Zdjęcie produktu" class="product-image">
                    <h3 th:text="${product.name}">Produkt</h3>
                    <p th:text="${product.description}">Opis produktu</p>
                    <p th:text="'$' + ${product.price}">Cena</p>

                    <div th:if="${product.stock > 0}">
                        <!-- Przycisk kup teraz, jeśli produkt jest dostępny -->
                        <form th:action="@{/cart/add/{productId}(productId=${product.id})}" method="post">
                            <button type="submit">Kup teraz</button>
                        </form>
                    </div>

                    <div th:if="${product.stock == 0}">
                        <!-- Tekst informujący o braku dostępności, jeśli produkt jest niedostępny -->
                        <p class="unavailable-text">Produkt tymczasowo niedostępny</p>
                    </div>
                </div>
            </th:block>
        </div>
    </section>

    <!-- Stopka -->
    <footer>
        <p>&copy; 2024 projectShop Wszystkie prawa zastrzeżone.</p>
    </footer>
</div>
</body>
</html>
