<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moje Dane</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <h2>Moje Dane</h2>

    <form th:action="@{/my-data}" method="post" th:object="${user}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <label for="firstName">Imię:</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="Imię">
        </div>
        <div>
            <label for="lastName">Nazwisko:</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Nazwisko">
        </div>
        <div>
            <label for="address">Adres:</label>
            <input type="text" id="address" th:field="*{address}" placeholder="Adres">
        </div>
        <div>
            <label for="phone">Telefon:</label>
            <input type="text" id="phone" th:field="*{phone}" placeholder="Telefon">
        </div>
        <button type="submit">Zapisz dane</button>
    </form>

    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
</div>

</body>
</html>
